table {
    width:70%;
    
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  mat-card{
    max-width: auto ;
    min-width: auto;
    margin:  auto;
    text-align: center;
    height: auto ;
    padding: 1rem 1rem;
}
.table{
    max-width: auto ;
    min-width: auto;
}
.btn_box{
  flex :1;
  display:inline-block ;

  width: 200px;
  height: 60px ;
 margin: 5px 5px 5px 5px ;
 
}

tr:hover{
  background-color: powderblue;
  transition: background-color .5s;
}

