<mat-list role="list">
    <mat-list-item role="listitem"><a mat-button [routerLink]="'/admin'">Admin</a></mat-list-item>
    <mat-list-item role="listitem"><a mat-button [routerLink]="'/form-user'">Crear Cliente</a></mat-list-item>
    <mat-list-item role="listitem"><a mat-button [routerLink]="'/table-customer'">Lista de Clientes</a></mat-list-item>
    <mat-list-item role="listitem"><a mat-button [routerLink]="'/products'">Crear Producto</a></mat-list-item>
    <mat-list-item role="listitem"><a mat-button [routerLink]="'/table-products'">Productos por Id</a></mat-list-item>
    <mat-list-item role="listitem"><a mat-button [routerLink]="'/new-transaction'">Nueva transaccion</a></mat-list-item>
    <mat-list-item role="listitem"><a mat-button [routerLink]="'/new-Withdrawal'">Retiro</a></mat-list-item>
    <mat-list-item role="listitem"><a mat-button [routerLink]="'/new-consignment'">Consignacion </a></mat-list-item>
    <mat-list-item role="listitem"><a mat-button [routerLink]="'/table-Tproducts'">Transacciones por
            Id</a></mat-list-item>
</mat-list>