<mat-list role="list">
    <mat-list-item role="listitem"><a mat-button [routerLink]="'/login'"> login</a></mat-list-item>
    <mat-list-item role="listitem"><a mat-button [routerLink]="'/logout'"> logout</a></mat-list-item>
    <mat-list-item role="listitem"><a mat-button [routerLink]="'/admin'">Admin</a></mat-list-item>
    <mat-list-item role="listitem"><a mat-button [routerLink]="'/form-user'">Form</a></mat-list-item>
    <mat-list-item role="listitem"><a mat-button [routerLink]="'/table-customer'">Lista de clientes</a></mat-list-item>
</mat-list>