<div class="login-form">
    <mat-card>
        <mat-card-content>
            <h1>Login</h1>
            <mat-form-field class="full-width-input">
                <input type="text" matInput placeholder="username" required>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input type="password" matInput placeholder="password" required>
            </mat-form-field>
            <button mat-raised color="primary" type="submit" class></button>
        </mat-card-content>

    </mat-card>
</div>